<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coordinates by Country</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>Coordinates by Country</h1>
<form th:action="@{/sunInfo/country/{countryName}(countryName=${countryName})}" method="get">
    <label for="countryName">Country Name:</label>
    <input type="text" id="countryName" name="countryName" required>
    <button type="submit">Get Coordinates</button>
</form>
<tr th:each="coordinate, stat : ${coordinates}">
    <td th:text="${coordinate.getLat()}"></td>
    <td th:text="${coordinate.getLng()}"></td>
    <td th:text="${results[stat.index].sunrise}"></td>
    <td th:text="${results[stat.index].sunset}"></td>
</tr>
<p th:text="${message}"></p>

<script>
    $(document).ready(function() {
        $('#action1').click(function() {
            callEndpoint('endpoint1', 'GET');
        });

        $('#action2').click(function() {
            callEndpoint('endpoint2', 'GET');
        });

        function callEndpoint(endpoint, type, param1, param2) {
            var url = '/yourController/' + endpoint;
            if(param1 || param2) url += '?';
            if(param1) url += 'param1=' + param1;
            else if(param1 && param2)  url += 'param1=' + param1 + '&param2=' + param2;
            else url += 'param2=' + param2;
            $.ajax({
                url: url,
                type: type,
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.error(error);
                }
            });
        }
    });
</script>
</body>
</html>
